
:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container {
    display: flex;
    align-items:center;
    justify-content:space-around;
    width: 50%;
    margin: 8% auto;
}

.span {
    background-color: blue;
    width: 12%;
    text-align: center;

}

.list {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -5%;
}

.id-users {
    text-align: center;
    width: auto;
    background-color: blue;
    color: white;
    border-radius: 50%;
}

.form {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-buttons {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

input:focus {
    outline: green;
}

@media screen and (max-width: 1060px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }

    .form {
        margin-top: 15%;
    }
}



