
<div class="container">

    <div class="list">
      <h2 [ngStyle]="{'color': 'blue'}">List of Players</h2>
      
      <ul class="list-group">
        <li
          *ngFor="let player of playerArray" 
          [ngStyle]="{'display': 'flex'}" 
          class="list-group-item list-group-item-action"
          (click)="openForEdit(player)"
          [class.active]="player == selectedPlayer"
        >
        <span class="badge bg-secondary"> {{ player.id }}</span>&nbsp;&nbsp;&nbsp;{{ player.name }}&nbsp;{{player.surname }}
        </li>
      </ul> 
      
    </div>
  
    <div class="form">
      
      <mat-form-field color="primary" appearance="fill">
        <mat-label>Name</mat-label>
        <input id="name" required minlength="3" matInput type="text" placeholder="Insert name ..." [(ngModel)]="selectedPlayer.name"> <!-- [ngStyle]="{'background-color': 'red'}"*/ -->
      </mat-form-field>
  
      <mat-form-field color="primary" appearance="fill">
        <mat-label>Surname</mat-label>
        <input id="surname" required minlength="3" matInput type="text" placeholder="Insert surname ..." [(ngModel)]="selectedPlayer.surname"> 
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input id="age" matInput type="number" placeholder="Insert age ..." [(ngModel)]="selectedPlayer.age"> 
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <input id="country" required minlength="5" matInput type="text" placeholder="Insert country ..." [(ngModel)]="selectedPlayer.country">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Select Position</mat-label>
        <mat-select required [(ngModel)]="selectedPlayer.position">
          <mat-option class="select" value="GoalKeepr" >GoalKeeper</mat-option>
          <mat-option class="select" value="Defender" >Defender</mat-option>
          <mat-option class="select" value="Midfielder" >Midfielder</mat-option>
          <mat-option class="select" value="Striker" >Striker</mat-option>
        </mat-select>
      </mat-form-field>
 
      <div class="container-buttons">
        <button id="button" (click)="addOrEdit()" mat-raised-button type="submit" color="primary">Create</button>
        <button
        *ngIf="selectedPlayer.id !== 0"
        mat-raised-button type="submit" color="warn"
        (click)="delete()"
        >
        Delete
        </button>
      </div>
    </div>
  
  </div>
