/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-flex {
    background-color: rgb(238, 222, 222) !important;
}

input:focus {
    color: black !important;
}

.mat-fab:not([class*="mat-elevation-z"]), .mat-mini-fab:not([class*="mat-elevation-z"]){
    box-shadow: none;
}


/*.mat-list-option:hover, .mat-list-option:focus, .mat-nav-list .mat-list-item:hover, .mat-nav-list .mat-list-item:focus, .mat-action-list .mat-list-item:hover, .mat-action-list .mat-list-item:focus {
    background: rgba(0, 139, 139, 0.7); 
}*/

.mat-list-option:hover, .mat-list-option[aria-selected="true"], .mat-nav-list .mat-list-item:hover, .mat-nav-list .mat-list-item[aria-selected="true"], .mat-action-list .mat-list-item:hover, .mat-action-list .mat-list-item[aria-selected="true"] {
    background: rgba(144, 148, 148, 0.7); 
}